[Unit]
Description=Jitsi-Meet Videobridge
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/jitsi-videobridge
User=jvb
ExecStart=/usr/share/jitsi-videobridge/jvb.sh ${JVB_OPTS}
WorkingDirectory=~

# more threads for this process
TasksMax=65000
# allow more open files for this process
LimitNPROC=65000
LimitNOFILE=65000

# Hardening
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
