[Unit]
Description=Jitsi Conference Focus
After=network-online.target
Wants=network-online.target

[Service]
SuccessExitStatus=143
EnvironmentFile=/etc/jicofo/config
User=jicofo
ExecStart=/usr/share/jicofo/jicofo.sh --host=${JICOFO_HOST} --domain=${JICOFO_HOSTNAME} --port=${JICOFO_PORT} --user_name=${JICOFO_AUTH_USER} --user_domain=${JICOFO_AUTH_DOMAIN} ${JICOFO_OPTS}
WorkingDirectory=~

# Hardening
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
